.overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg path{
  stroke: #000;
}

.module {
  width: 583px;
  max-width: 583px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 24px 40px 24px;
  position: relative;
  top: 50%;
}

.modal__body {
  padding: 60px 115px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.highlited {
  background-color: #F8F9F8;
  border: 1px solid #E4F2EE;
  color: #2CA983;
}

.error {
  color: #DB2546;
}

section {
  max-width: 550px;
}

.errorMessage {
  display: block !important;
  color: #DB2546;
}

.secondary {
  margin: 32px auto 0;
}